/*Designing for the blog*/

#blog{
    margin: 0 100px;
}

#blog div[class="heading"]{
    padding-bottom: 35px;
}

#blog_card_container .blog-cards:nth-child(even){
    flex-direction: row-reverse;
}
#blog_card_container .blog-cards:nth-child(even) .blog-des{
    text-align: end;
}
#blog_card_container .blog-cards:nth-child(even) .blog-content{
    padding-left: 50px;
    padding-right: 0;

    align-items: end;
}

.blog-cards{

    box-shadow: 5px 5px 15px rgb(152 152 152 / 25%), -5px -5px 15px rgb(152 152 152 / 25%);
    gap: 30px;
}

#blog_card_container{
    gap: 25px;
    display: none;
}

.blog-img{
    height: 200px;
}

.blog-content{
    padding: 15px 0px;
    gap: 12px;
    padding-right: 50px;
}

.blog-head{
    font-size: 1.5rem;
}

.blog-content button{
    margin-top: auto;
}


@media screen and (width<=1200px){
    
    #blog{
        margin: 0 50px;
    }
    .blog-cards{
        gap:20px;
    }
    
    .blog-img{
        height: 180px;
    }
}

@media screen and (width<=850px){
    #blog{
        margin: 0px;
    }

    #blog .heading{
        text-align: center;
    }

    #blog_card_container{
        align-items: center !important;
    }

    .blog-img{
        height: unset !important;
        width: 100%;
    }

    .blog-cards{
        flex-direction: column !important;
        align-items: center;
        width: 55%;
    }
    .blog-content{
        padding: 15px !important;
        align-items: center !important;
    }

    .blog-des, .blog-head{
        text-align: center !important;
    }
}

@media screen and (width<=650px){
    .blog-cards{
        width: 65%;
        gap: 0px !important;
    }
    .blog-head{
        font-size: 1.3rem;
    }   
    .blog-des{
        font-size: 1rem;
    }
}

@media screen and (width<=450px){
    .blog-cards{
        width: 82%;
    }
}