
.card{
    width: 260px;
    position: relative;

    overflow: hidden;
}

.card-container{
    margin: 35px 0px;
}
.card-img, .card-img img{
    width: inherit;
}

.card-content{
    color: white;
    display: none;
    position: absolute;
    height: 70%;
    bottom: 0;

    padding: 15px;
    gap: 7px;
    
}

.card:hover .card-content{
    display: flex;
    
    background-image: linear-gradient( rgba(0, 0, 0, 0.716), rgba(0, 0, 0, 0.747));

    animation-name: pop-up;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

@keyframes pop-up{
    0%{
        bottom: -300px;
    }
    100%{
        bottom: 0px;
    }
}

.card:hover .card-img{
    opacity: 0.9;
}

.card-head{
    font-size: 1.3rem;
    font-weight: bold;
}

.card-loc{
    justify-content: space-between;
    margin-top: auto;
}