
section{
    padding: 50px var(--main-padding);
}

.heading{
    font-size: 1.8rem;
    font-family: monospace;
    color: rgb(61, 61, 61);
    font-weight: bold;
}

.paragraph{
    font-size: 1.1rem;
    width: 600px;
}


/*Design for the about US*/

#about_us{
    justify-content: space-between;
    align-items: center;

    background-color:#4c799f12;
    box-shadow: inset 0px 3px 5px #b4b4b442;
    box-shadow: inset 0px -3px 8px #b4b4b442;
}

.about-us-content{
    gap: 18px;
}

.about-us-element img{
    height: 28rem;
}



/*Designing for the blog*/

#blog{
    margin: 0 100px;
}

#blog div[class="heading"]{
    padding-bottom: 35px;
}

#blog_card_container .blog-cards:nth-child(even){
    flex-direction: row-reverse;
}
#blog_card_container .blog-cards:nth-child(even) .blog-content{
    padding-left: 50px;
    padding-right: 0;

    align-items: end;
}

.blog-cards{

    box-shadow: 5px 5px 15px rgb(152 152 152 / 25%), -5px -5px 15px rgb(152 152 152 / 25%);
    gap: 30px;
}

#blog_card_container{
    gap: 25px;
}

.blog-img{
    height: 180px;
}

.blog-content{
    padding: 15px 0px;
    gap: 12px;
    padding-right: 50px;
}

.blog-head{
    font-size: 1.5rem;
}

.blog-content button{
    margin-top: auto;
}



