* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --main-padding: 180px;
}

.flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

section{
    padding: 50px var(--main-padding);
}

.heading{
    font-size: 1.8rem;
    font-family: monospace;
    color: rgb(61, 61, 61);
    font-weight: bold;
}

.paragraph{
    font-size: 1.15rem;
    width: 90%;
}


/*Read more button*/
.read_more a{
    color: white;
    font-size: 1.05rem;
}

.read_more{
    margin: 10px 0;
    padding: 7px 12px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 63, 56, 0.914);
    width: fit-content;
    transition: 0.1s;
}

.read_more:hover{
    background-color: rgba(232, 27, 19, 0.914);
}

/*navigation - on active style*/
.active{
    background-color: rgba(198, 198, 198, 0.392);
    border-bottom: 3px solid rgb(232, 0, 0);
}


@media screen and (width<=1400px) {
    :root{
        --main-padding:140px;
    }
}
@media screen and (width<=1200px) {
    :root{
        --main-padding:100px;
    }

    .paragraph{
        font-size: 1rem;
    }

}
@media screen and (width<=1050px) {
    :root{
        --main-padding:70px;
    }
}


@media screen and (width<=950px){
    :root{
        --main-padding: 50px;
    }
}

@media screen and (width<=500px){
    :root{
        --main-padding: 25px;
        font-size: 14px;
    }
    section{
        padding: 30px var(--main-padding);
    }
}

@media screen and (width<=350px){
    :root{
        --main-padding: 15px;
    }
}

 /*Loading animation*/

 #loader {
    border: 9px solid #f3f3f3;
    border-radius: 50%;
    border-top: 9px solid #444444;

    width: 40px;
    height: 40px;
    margin: 20vh auto;
    
    animation: spin 2s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}