#clubs{
    background-color: #7fabd82b !important;
    background-image: none !important;
}

    #club-card{
        justify-content: center;
        gap: 22px;
        flex-wrap: wrap;
    margin: 20px 0px;

}
#club-card > div{ 
    /* background-image: linear-gradient(163deg,#7bd3e157,#3dbbf46b,#82bee7b3); */
    /* padding: 25px; */
    margin: 15px;
    display: flex;
    flex-direction: row;;
    /* gap: 25px; */
    justify-content: space-evenly;
    width: 500px;
    box-shadow: 0px 0px 5px 0px #81999d3b;
    /* border-radius: 15px; */
    /* align-items: center; */
    /* border: 1px solid rgba(128, 128, 128, 0.485); */
    background-color: white;
    
}


#club-img{
    padding: 22px;
    display:flex;
    align-items: center;
    background-color: white;
}

#club-img img{
    height: 105px;
}
#club-desc{
    font-size: 1.0rem;
    text-align: center;
}
#club-title{
    font-weight: bold;
    font-size: 1.10rem;
    padding-top: 15px;
    text-align: center;
}
#clubs > div{
    align-items: center;

}

#club-card > div > div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content:space-around;

    /* background-image: linear-gradient(163deg,#7bd3e157,#3dbbf46b,#82bee7b3); */
    background-color: white;
    margin: 20px;
    margin-left: 0px !important;
    padding-left:15px;
    border-left: 2px solid grey;
    /* margin-right: 10px; */
    /* border-radius: 10px; */
    /* border-bottom-right-radius: 80px; */
    /* border-top-right-radius: 80px; */
}

@media screen and (width<=1500px){
    #club-card > div{
        width: 44%;
    }
}
@media screen and (width<=1250px) {
    #clubs{
        padding: 50px 0px !important;
    }
}
@media screen and (width<=1000px){
    #club-card > div{
        width: 500px !important;
    }
}

@media screen and (width<=650px){
    #club-card > div > div:nth-child(2){
        border-left: 0px !important;
        border-top: 2px solid grey;
        padding: 15px 0px 0px 0px !important;
        margin: 20px !important;
        margin-top: 0px !important;
    }
    #club-card > div{
        width: 50% !important;
        flex-direction:column;

    }
    #club-img{
        justify-content: center;

    }
}

@media screen and (width<=450px){
    #club-card > div{
        width: 210px !important;
    }

}
