       #team{
        background-color: #d7d7d72b;
       }
       
       .card-head{
            font-weight: 500;
            text-align: center;
        }

        .card-position{
            font-size: 1.25rem;
            text-align: center;
            color: rgb(65, 65, 65);
        }

        .team-desc{
            padding: 10px 10px;
        }
        #team-desc{
            text-align: center;
            padding: 12px;
        }

        .card-img, .card-img img{
            height: 150px;
            width: 150px;
            border-radius: 50%;
            padding: 12px;
        }

        .card-img img{
            object-fit: cover;
            opacity: 0.95;
            padding: 0px;
        }
        .card{
            background-color: white;

            padding: 5px;
            width: 255px;
            
            border: 1px solid rgba(206, 206, 206, 0.2);
            box-shadow:#cccccc69 0px 0px 10px 1px;

            align-items: center !important;
        }

        .card-container{
            row-gap: 25px !important;
            column-gap: 10px !important;
        }

        .card:hover .card-img{
            opacity: 0.95 !important;
        }

        .card-container .social_media img{
            height: 1.6rem !important;
        }
        @media only screen and (max-width: 770px) and (min-width: 650px){
        .card {
                width: 250px !important;
            }
        }

